:root{
    --color-primary: #842ecb;
    --border-radius: 1rem;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 10px;
}



.navBar{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius);
    font-size: 18px;
    align-items: center;
}

.navBar ul{
    display: flex;
    list-style: none;
}

.navBar ul li{
    margin-left: 10px;
    margin-top: 10px;
}

.left-side, .right-side{
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    margin-top: 5px;
    color: white;
}

.left-side p, .right-side p {
    font-size: large;
    margin-left: 10px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h4, h5{
    /*margin-left: 14px;*/
}

.filters, .categories{
    text-align: center;
}

.navBar a{
    color: #dbf3f5;
    text-decoration: none;
}

.right-side a, .left-side a{
    color: #eedede;
    text-decoration: none;
    transition: color 0.3s;
}

.right-side a:hover, .left-side a:hover{
    color: white;
}

li{
    list-style: none;
    font-size: 2rem;
}

.perfume-image{
    border-radius: 30px;
    margin-top: 10px;
}

.footer {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius);
    margin-top: 5px;
    align-items: center;
}

.footer h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-12


